/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}

/* This was a first for me, I usually use Google fonts but this was using a woff file and a link to the relative path. I used https://transfonter.org/ which I used on StackOverflow */ 

/* ---------------------------------- End of CSS reset, fonts below -------------------------------- */ 

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Bold.ttf') format('woff2'),
        url('assets/fonts/Roboto-Bold.ttf') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.ttf') format('woff2'),
        url('assets/fonts/Roboto-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Custom CSS variables for colours */
:root {
    --tomato: hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
  }
  

/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Tomato: hsl(4, 100%, 67%)

### Neutral

- Dark Slate Grey: hsl(234, 29%, 20%)
- Charcoal Grey: hsl(235, 18%, 26%)
- Grey: hsl(231, 7%, 60%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Roboto](https://fonts.google.com/specimen/Roboto)
- Weights: 400, 700

*/ 

/* ---------------------------------- End of fonts, styles below -------------------------------- */ 
/* Fallback fonts if the user's browser does not support */
body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

main{
    padding: 5%;
    margin: 2%;
}
/* Targets "Join 60,000 monthly..." */ 
main p{
    margin-bottom: 5%;
    line-height: 1.5em;
}
/* Targets "Main h1" */ 
h1{
    font-weight: bold;
    font-size: 2.5em;
    color: var(--dark-slate-grey);
    margin-bottom: 5%;
}

/* Not used this before, but worked really well. Keeps the HTML minimal, content attribute is really useful */
ul li::before{
    content: url(assets/images/icon-list.svg);
    size: 100%;
    padding-right: 5%;    
}

/* Targets list items and creates a flexbox container to align text together */ 
ul li{
    display: flex;
    line-height: 1.5em;
    margin-bottom: 5%;

}
/* Targets 'email address' label */ 
label[for="email"]{
    font-weight: bold;
    font-size: .8em;
    color: var(--dark-slate-grey);
    display: block;
    margin-top: 10%;
    margin-bottom: 5%;
}

input{
    display: block;
    padding: 5%;
    margin-bottom: 5%;
    border: solid .05em var(--grey);
    border-radius: .5em;
    width: 100%;
}

::placeholder{
    color: var(--grey);
}

button[type="button"]{
    font-weight: bold;
    color: var(--white);
    background-color: var(--dark-slate-grey);
    padding: 5%;
    width: 100%;
    border: solid .05em var(--grey);
    border-radius: .5em;
}

footer{
    color: var(--grey);
    padding: 5%;
    margin: 2%;
    line-height: 2em;
    font-size: .8em;

}

a:visited{
    color: var(--charcoal-grey);
}

a:hover, a:focus{
    color: lightcoral;
}

a:active{
    color: rgb(217, 94, 94)
}

button:hover{
    background: linear-gradient(40deg, #ff5377, Tomato);
    cursor: pointer;
}

footer{
    margin-bottom: 5%;
}

#error-message{
    float: right;
    font-size: .8rem;
    color: #FF6257;
    font-weight: bold;
   
}

.error-state{
    background-color: #ffe8e6;
    border: solid #FF6257 5px;
    color: #FF6257;
    border:  #FF6257 1px solid;
    
}

.success img{
    margin: 40% 0 10% 0;
}


/* 

   form.prepend(emailAlert);
        emailAlert.style.float = "right";
        emailAlert.style.fontSize = ".8rem";
        emailAlert.style.color = "#FF6257";
        emailAlert.style.fontWeight = "bold";
    
        
        
        userInput.style.backgroundColor = "#ffe8e6";
        userInput.style.border = "solid #FF6257 1px"; 

        */


/* ------------------------------------------ Media Queries --------------------------------------- */ 

/* Tablets & screens over 420px */ 
@media screen and (min-width: 420px) {
    picture img{
        float: right;
        max-width: 45vw;
        
    }
    input[type="email"]{
        float: left;
        width: 40vw;
        padding: 5%;
        margin-bottom: 2%;
        
    }

    label[for="email"]{
        margin: 1% 0;
    }
    
    button[type="button"]{
        width: 40vw;
        padding: 5%;
       
    }

    ul li{
        margin: 3% 0 5% 0;
    }

    form{
        max-width: 40vw;
    }

    
} 

/* Tablets & screens over 1280px */ 
@media screen and (min-width: 1280px) {
   picture img{    
        min-width: 50vw;
        padding: 0 2%;
   }

   h1{
        font-size: 4.5em;
   }

   main p, main ul, main li{
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
   }

   main li{
    padding: .5%;
   }
   main ul{
    margin-bottom: 5%;
    }

   ::placeholder{
    font-size: 1.2rem;
    }

    button[type="button"]{
        font-size: 1.2rem;
       
    }

    h1 {
        margin-bottom: 3%;
    }
    
    body > main:nth-child(2) > p:nth-child(2) {
        margin-bottom: 2%;
        }


    form ~{
        padding: 5%;
    }

    label[for="email"]{
        margin: 3% 0;
    }








} 




